<!DOCTYPE html>
<html>
<head>
  <title>Polymer Rails Example</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= html_import_tag 'my-navigation/my-navigation'%>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
